*, *:before, *:after {
	box-sizing: border-box;
}

.cpb1-container {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 5px;
}

.cpb1-container .cpb1-bar {
	height: 100%;
	width: 33%;
	background-color: #d90000;
}

.content-container {
	width: 66.666%;
	max-width: 960px;
	margin: 0 auto;
}

@media screen and (min-width: 960px) {
	.content-container {
		width: 66.666%;
		max-width: 960px;
	}
}

.content-container p {
	
}
