*, *:before, *:after {
	box-sizing: border-box;
}

.contentmeter {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 5px;
}

.contentmeter .contentmeter-bar {
	height: 100%;
	width: 33%;
	background-color: #d90000;
}

.content-container {
	width: 100%;
	max-width: 768px;
	margin: 0 auto 500px;
}
